:root {
  --color-primary: hsl(194, 28%, 31%);
  --color-secondary: hsl(171, 99%, 35%);
  --color-tertiary: hsl(0, 0%, 100%);

  --container-size: 1200px;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  line-height: 1.1;
  font-weight: 600;
}

img,
svg,
video {
  display: block;
  width: 100%;
}

button,
select {
  cursor: pointer;
}
